header {
  width: 100%;
  max-width: 1170px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100000000000000;
  top: 0;
  position: fixed;
  padding-top: 32px;
  padding-bottom: 30px;
  background-color: $white-rgba-one;
  backdrop-filter: blur(4px);
  transition: all .2s ease-in-out;
  border-bottom: 1px solid $white-one;
  border-left: 1px solid $white-one;
  border-right: 1px solid $white-one;
  nav {
    max-width: 500px;
    margin: auto;
    ul {
      grid-area: menu;
      display: grid;
      grid-template-columns: auto auto auto auto;
      list-style: none;
      padding-left: 0;
      li {
        a {
          text-decoration: none;
          color: $blue-one;
          font-size: 14px;
          transition: all .2s ease;
          position: relative;
          &:hover {
            color: $black-two;
          }
          &.active {
            color: $black-two;
          }
        }
        &:nth-child(2) {
          padding-left: 74px;
        }
        &:nth-child(3) {
          padding-left: 74px;
        }
        &:nth-child(4) {
          padding-left: 74px;
        }
      }
    }
  }
  &.scrolling-navbar {
    &.top-nav-collapse {
      padding-top: 18px;
      padding-bottom: 18px;
      box-shadow: 0 2px 2px $black-rgba-two;
    }
  }
}

