.profile {
  position: relative;
  padding-top: 59px;
  text-align: center;

  &__wrapper {
    padding: 48px 0 74px;
    margin: auto -15px;
    display: flex;
    flex-wrap: wrap;
    @media only screen and (max-width: 559.98px) {
      margin: auto;
    }
  }

  &__form {
    position: relative;
    width: 100%;

    fieldset {
      border: none;
      margin: 0;
      position: relative;
      padding: 0;
    }
  }

  &__row {
    display: block;
    position: relative;
  }

  &__field {
    position: relative;
    text-align: center;
    width: 100%;
    max-width: 520px;
    min-width: 270px;
    margin: 0 auto 25px;
    @media only screen and (max-width: 559.98px) {
      max-width: 100%;
    }

    &:last-child {
      margin: 0 auto 0;
    }

    label {
      margin-bottom: 0;
      transition: all .2s ease;
      top: 0;
      position: absolute;
      line-height: 58px;
      cursor: text;
      width: 100%;
      left: 0;
      font-size: 24px;
      font-family: $roboto-regular;
      color: $grey-two;
      text-align: center;
    }

    input {
      position: relative;
      outline: none;
      background: none;
      display: block;
      margin: auto;
      width: 100%;
      border: 1px solid $grey-one;
      text-indent: 0;
      border-radius: 5px;
      text-align: center;
      font-size: 20px;
      color: $black-two;
      font-family: $roboto-regular;
      padding: 22px 10px 12px;
      @media only screen and (max-width: 559.98px) {
        font-size: 16px;
      }
      @media only screen and (max-width: 360px) {
        font-size: 14px;
      }
      @media only screen and (max-width: 340px) {
        font-size: 12px;
      }

      &:focus {

        box-shadow: none;
        background: none;
        border: 1px solid $blue-one;
        color: $black-one;

        ~ label {

          transform: translateY(-30%);
          font-size: 14px;

        }

      }

      &:valid {

        ~ label {

          transform: translateY(-30%);
          font-size: 14px;

        }

      }
    }

    &_select {
      width: 100%;

      &.changed {
        .jq-selectbox__select-text {
          color: $black-two;
          font-size: 20px;
          padding-top: 22px;
          @media only screen and (max-width: 559.98px) {
            font-size: 16px;
          }
          @media only screen and (max-width: 360px) {
            font-size: 14px;
          }
          @media only screen and (max-width: 340px) {
            font-size: 12px;
          }
        }

        ~ label {
          transform: translateY(-30%);
          font-size: 14px;
        }

        &:valid {

          ~ label {

            transform: translateY(-30%);
            font-size: 14px;

          }

        }
      }

      &.dropdown {
        .jq-selectbox__trigger-arrow {
          transform: translateY(-50%) rotate(-180deg);
        }
      }

      .jq-selectbox {
        select {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 0;
          opacity: 0;
        }

        &__select {
          border: 1px solid $grey-one;
          border-radius: 5px;
          box-shadow: none;
          background: none;
          height: 58px;
          padding: 0 10px 0 10px;
        }

        &__select-text {
          text-align: center;
          font-size: 24px;
          color: $grey-two;
          font-family: $roboto-regular;
          width: 100% !important;
        }

        &__trigger {
          border: 0;
          position: absolute;
          top: 0;
          right: 0;
          width: 34px;
          height: 100%;

          &-arrow {
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            border: none;
            width: auto;
            height: auto;
            transition: all .1s ease-in-out;
            position: absolute;

            &:after {
              content: url('data:image/svg+xml;utf8,<svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.763 2.23355L8.61704 7.37955L8.76504 7.52655L7.42404 8.86755L7.27604 8.71955L7.12804 8.86755L5.78804 7.52655L5.93604 7.37955L0.790039 2.23355L2.13004 0.893555L7.27604 6.03855L12.422 0.893555L13.763 2.23355Z" fill="blue"/></svg> ');
              top: 0;
              width: 14px;
              height: 16px;
            }
          }
        }

        &__dropdown {
          border-radius: 5px;
          border: none;
          box-shadow: 0 3px 8px 0 $black-rgba-one;
          height: 301px;
          font: 20px $roboto-light;

          &:before {
            content: '';
            width: calc(100% - 17px);
            height: 32px;
            background: $white-one;
            display: block;
            position: absolute;
            top: 0;
            z-index: 10;
          }

          &:after {
            content: '';
            width: calc(100% - 17px);
            height: 32px;
            background: $white-one;
            display: block;
            position: absolute;
            bottom: 0;
          }

          ul {
            max-height: 300px !important;
            padding: 37px 0 31px;

            li {
              color: $blue-one;

              &:hover {
                background-color: #435993;
                color: $white-one;
              }

              &.selected {
                background-color: $grey-one;
              }
            }
          }

        }

      }

    }

    &_middle {
      width: 100%;
      max-width: 318px;
      min-width: 270px;
      @media only screen and (max-width: 440px) {
        max-width: 100%;
      }
    }


  }
  .scroll-wrapper {
    padding: 18px 19px !important;
    border-radius: 5px;
  }

  .scroll-textarea > .scroll-content {
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 17px;
      height: 100%;
      background-color: $white-one;
    }
  }

  .scroll-wrapper > .scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
  }

  .scroll-textarea > .scroll-content > textarea {
    overflow-x: hidden !important;
    overflow-y: scroll !important;
  }

  .scroll-element {
    display: none;
  }
  .scroll-element, .scroll-element div {
    box-sizing: content-box;
  }

  .scroll-element.scroll-x.scroll-scrollx_visible,
  .scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
  }

  .scroll-element .scroll-bar,
  .scroll-element .scroll-arrow {
    cursor: default;
  }


  /*************** SIMPLE INNER SCROLLBAR ***************/

  .scrollbar-inner > .scroll-element,
  .scrollbar-inner > .scroll-element div
  {
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;

  }

  .scrollbar-inner > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }

  .scrollbar-inner > .scroll-element.scroll-x {
    bottom: 2px;
    height: 8px;
    left: 0;
    width: 100%;
  }

  .scrollbar-inner > .scroll-element.scroll-y {
    height: 100%;
    right: 2px;
    top: 0;
    width: 5px;
  }

  .scrollbar-inner > .scroll-element .scroll-element_outer {
    overflow: hidden;
  }

  .scrollbar-inner > .scroll-element .scroll-element_outer,
  .scrollbar-inner > .scroll-element .scroll-element_track,
  .scrollbar-inner > .scroll-element .scroll-bar {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
  }

  .scrollbar-inner > .scroll-element .scroll-element_track,
  .scrollbar-inner > .scroll-element .scroll-bar {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    filter: alpha(opacity=1);
    opacity: 1;
    transition: all .2s ease;
  }

  .scrollbar-inner > .scroll-element .scroll-element_track { background-color: transparent; }
  .scrollbar-inner > .scroll-element .scroll-bar { background-color: $grey-one; cursor: pointer;}
  .scrollbar-inner > .scroll-element:hover .scroll-bar { background-color: $blue-one; opacity: .7;}
  .scrollbar-inner > .scroll-element.scroll-draggable .scroll-bar { background-color: $blue-one; opacity: .7;}


  /* update scrollbar offset if both scrolls are visible */

  .scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -12px; }
  .scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -12px; }


  .scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -12px; }
  .scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -12px; }
}

.jq-selectbox {
  &.focused {
    .jq-selectbox__select {
      border: 1px solid $blue-one;
    }

    ~ label {
      transform: translateY(-30%);
      font-size: 14px;
    }

    &:valid {

      ~ label {

        transform: translateY(-30%);
        font-size: 14px;

      }

    }
  }

  select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
  }

}

.mCSB_inside > .mCSB_container {
  margin-right: 17px;
}

.mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent;
}

.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: $grey-one;
}

.mCS-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: $grey-one;
}
