//White
$white-one: #fff;

//White-rgba
$white-rgba-one: rgba(255, 255, 255, .8);

//Black
$black-one: #000000;
$black-two: #1c1c1c;
$black-three: #202020;

//Black-rgba
$black-rgba-one: rgba(0, 0, 0, .2);
$black-rgba-two: rgba(0, 0, 0, .15);
$black-rgba-three: rgba(0, 0, 0, .6);
$black-rgba-four: rgba(0, 0, 0, .6);

//Grey
$grey-one: #d9d9d9;
$grey-two: #c8c8c8;
$grey-three: #d9d9d9;
$grey-four: #e5e5e5;
$grey-five: #e8e8e8;
$grey-six: #b4b4b4;

//Brown
$brown-one: #343030;

//Blue
$blue-one: #435993;
$blue-two: #e9efff;

//Blue
$purple-one: #8986c3;



