//Way-img
$way-img: "../img/" !default;

//Way-fonts
$roboto: "../fonts/roboto/" !default;

//Roboto fonts
$roboto-thin: 'Roboto-Thin', sans-serif;
$roboto-light: 'Roboto-Light', sans-serif;
$roboto-regular: 'Roboto-Regular', sans-serif;
$roboto-bold: 'Roboto-Bold', sans-serif;
$roboto-black: 'Roboto-Black', sans-serif;


