header.header.scrolling-navbar
  .container
    nav(role='navigation')
      ul#nav-menu
        li
          a.active(href='#profile' title='Указать личную информацию' role='link') Личная информация
        li
          a(href='#experience' title='Рассказать о своем опыте' role='link') Опыт
        li
          a(href='#skillLevelJs' title='Указать уровень владения JavaScript' role='link') JavaScript
        li
          a(href='#aboutMe' title='Рассказать о себе' role='link') О себе


