.experience {
  position: relative;
  text-align: center;
  padding-bottom: 135px;
  color: $black-one;
  @media only screen and (max-width: 559.98px) {
    padding-bottom: 81px;
  }
  h2 {
    margin: 22px 0 47px;
  }
  &__wrapper {
    display: flex;
    margin: auto;
    text-align: left;
    font-family: $roboto-light;
    @media only screen and (max-width: 655px) {
      flex-wrap: wrap;
      padding-left: 40px;
    }
    @media only screen and (max-width: 540px) {
      padding-left: 0;
    }
    @media only screen and (max-width: 440px) {
      justify-content: center;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      align-content: center;
    }
    &_col {
      max-width: 100%;
      flex-basis: 0;
      flex-grow: 1;
      position: relative;
      width: 100%;
      &:first-child {
        margin-right: 35px;
        @media only screen and (max-width: 740px) {
          margin-right: 15px;
        }
        @media only screen and (max-width: 655px) {
          margin-right: 15px;
          flex: 0 0 40%;
          max-width: 40%;
          margin-bottom: 40px;
        }
        @media only screen and (max-width: 500px) {
          flex: 0 0 50%;
          max-width: 50%;
          margin-right: 0;
          padding-right: 15px;
        }
        @media only screen and (max-width: 440px) {
          flex: auto;
          max-width: 220px;
          margin-right: 0;
          padding-right: 15px;
          padding-left: 15px;
        }
      }
      &:nth-child(2) {
        margin-left: 35px;
        margin-right: 35px;
        @media only screen and (max-width: 740px) {
          margin-left: 15px;
          margin-right: 15px;
        }
        @media only screen and (max-width: 655px) {
          margin-right: 0;
          flex: 0 0 40%;
          max-width: 40%;
          margin-bottom: 40px;
        }
        @media only screen and (max-width: 500px) {
          flex: 0 0 50%;
          max-width: 50%;
          margin-left: 0;
          padding-left: 15px;
        }
        @media only screen and (max-width: 440px) {
          flex: auto;
          max-width: 220px;
          padding-right: 15px;
          padding-left: 15px;
        }
      }
      &:last-child {
        margin-left: 35px;
        @media only screen and (max-width: 740px) {
          margin-left: 15px;
        }
        @media only screen and (max-width: 655px) {
          flex: 0 0 40%;
          max-width: 40%;
          margin-left: 0;
        }
        @media only screen and (max-width: 500px) {
          flex: 0 0 50%;
          max-width: 50%;
        }
        @media only screen and (max-width: 440px) {
          flex: auto;
          max-width: 220px;
          padding-right: 15px;
          padding-left: 15px;
        }
      }
    }
  }
  &__checkbox {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
    .jq-checkbox {
      border: 1px solid $blue-one;
      box-shadow: none;
      background: none;
      margin: 0 7px 0 0;
      width: 20px; height: 20px;
      transition: all .2s ease-in-out;
      &:hover {
        background: $blue-two;
      }
      &.checked {
        background: $blue-one;
        .jq-checkbox__div {
          width: 10px;
          height: 8px;
          margin: 3px 0 0 4px;
          border-bottom: 2px solid $white-one;
          border-left: 2px solid $white-one;
          transform: rotate(-50deg);
        }
      }
      input {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}