main {
  width: 100%;
  position: relative;
  overflow: hidden !important;
  display: block;
  padding-top: 194px;
  padding-bottom: 74px;
  background: $white-one url("#{$way-img}background-body.png") no-repeat center top 80px / 1170px;

  h1 {
    font-family: $roboto-thin;
    font-size: 69.96px;
    font-weight: 100;
    color: $black-one;
    line-height: normal;
    margin: 0;
    text-align: center;
  }

}